.wrapper {
  border: 1px solid #dadde1;
  padding: 32px;
  min-width: 575px;
  min-height: 488px;
  border-radius: 10px;
}
.title {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 8px;
}
.desc {
  color: #8d929a;
  margin-bottom: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
.input {
  color: #8d929a;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  min-width: 576px;
  min-height: 48px;
  border-radius: 12px;
  padding-top: 12px;
  padding-right: 20px;
  padding-bottom: 12px;
  padding-left: 20px;
  background-color: #f7f7f7;
  border: none;
}

.input:invalid {
  border: 1px solid red;
  color: red;
}

.error {
  color: red;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  padding-left: 4px;
}
.comment {
  color: #8d929a;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  min-width: 576px;
  min-height: 88px;
  border-radius: 12px;
  padding-top: 12px;
  padding-right: 20px;
  padding-bottom: 56px;
  padding-left: 20px;
  background-color: #f7f7f7;
  border: none;

  margin-bottom: 24px;
  resize: none;
}

.input::placeholder,
.comment::placeholder {
  color: #8d929a;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
.input:focus,
.comment:focus {
  outline: none;
}
.label {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 16px;
}
.btn {
  display: block;
  border: none;
  background-color: #3470ff;
  width: 156px;
  height: 44px;
  border-radius: 12px;
  padding-top: 12px;
  padding-right: 51px;
  padding-bottom: 12px;
  padding-left: 51px;
  color: #ffffff;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  margin: 0 auto;
}
.btn:hover {
  background-color: #0b44cd;
}
:global(.react-datepicker) {
  display: flex !important;
  justify-content: stretch !important;
  align-items: center !important;
  font-family: Inter !important;
  font-weight: 600 !important;
  font-size: 12px !important;
  line-height: 14.4px !important;
  text-align: center !important;
  border-radius: 12px !important;
  border: 1px solid #3470ff !important;
  background-color: #ffffff;
  padding: 0 !important;
}

:global(.react-datepicker__day-name) {
  font-family: Inter !important;
  color: #8d929a !important;
  width: 36px !important;
  font-family: Inter !important;
  font-weight: 600 !important;
  font-size: 12px !important;
  line-height: 14.4px !important;
  text-align: center !important;
}
:global(.react-datepicker__header) {
  font-family: Inter !important;
  background-color: #ffffff !important;
  color: white;
  border-bottom: 1px solid #3470ff !important;
  padding: 12px !important;
}

:global(.react-datepicker__month) {
  padding: 12px !important;
}
:global(.react-datepicker__day) {
  font-weight: 400;
  font-family: Inter !important;
  line-height: 16.8px;
  font-size: 14px;
  width: 36px !important;
  height: 36px;
  text-align: center !important;

  border-radius: 50% !important;
  transition: background-color 0.3s ease;
}

:global(.react-datepicker__day--selected) {
  font-family: Inter !important;
  background-color: #3470ff !important;
  color: white !important;
  text-align: center !important;
}

:global(.react-datepicker__day--keyboard-selected) {
  font-family: Inter !important;
  background-color: #0b44cd !important;
  color: white !important;
  text-align: center !important;
}

:global(.react-datepicker__day:hover) {
  background-color: #d6e4ff;
}

:global(.react-datepicker__day--disabled) {
  font-family: Inter !important;
  color: #ccc !important;
  background-color: transparent !important;
  cursor: not-allowed;
}

:global(.react-datepicker__current-month) {
  font-family: Inter !important;
  font-size: 16px;
  font-weight: 600;
  color: white;
  margin-bottom: 14.5px !important;
}

:global(.react-datepicker__navigation) {
  top: 12px !important;
  display: none !important;
}

:global(.react-datepicker__navigation--previous) {
  left: 8px !important;
  border-color: #3470ff !important;
}

:global(.react-datepicker__navigation--next) {
  right: 8px !important;
}
.react-datepicker__navigation-icon::before,
.react-datepicker__year-read-view--down-arrow,
.react-datepicker__month-read-view--down-arrow,
.react-datepicker__month-year-read-view--down-arrow {
  border-color: #3470ff !important;
  border-style: solid;
  border-width: 3px 3px 0 0;
  content: "";
  display: block;
  height: 9px;
  position: absolute;
  top: 6px;
  width: 9px;
}
:global(.react-datepicker__navigation-icon::before) {
  border-color: #3470ff !important;
}

:global(.react-datepicker__navigation--previous) {
  left: 8px !important;
}

:global(.react-datepicker__navigation--next) {
  right: 8px !important;
}

:global(.react-datepicker__navigation--previous:hover),
:global(.react-datepicker__navigation--next:hover) {
  border-color: #0b44cd !important;
}
:global(.react-datepicker__triangle) {
  background-color: #ffffff !important;
  border: 1px solid #3470ff !important;
}
:global(.react-datepicker__navigation) {
  color: #3470ff !important;
}
