.wrapper {
  border: 1px solid #dadde1;
  padding: 32px;
  min-width: 575px;
  min-height: 488px;
  border-radius: 10px;
}
.title {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 8px;
}
.desc {
  color: #8d929a;
  margin-bottom: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
.input {
  color: #8d929a;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  min-width: 576px;
  min-height: 48px;
  border-radius: 12px;
  padding-top: 12px;
  padding-right: 20px;
  padding-bottom: 12px;
  padding-left: 20px;
  background-color: #f7f7f7;
  border: none;
}

.input:invalid {
  border: 1px solid red;
  color: red;
}

.error {
  color: red;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  padding-left: 4px;
}
.comment {
  color: #8d929a;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  min-width: 576px;
  min-height: 88px;
  border-radius: 12px;
  padding-top: 12px;
  padding-right: 20px;
  padding-bottom: 56px;
  padding-left: 20px;
  background-color: #f7f7f7;
  border: none;

  margin-bottom: 24px;
  resize: none;
}

.input::placeholder,
.comment::placeholder {
  color: #8d929a;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
.input:focus,
.comment:focus {
  outline: none;
}
.label {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 16px;
}
.btn {
  display: block;
  border: none;
  background-color: #3470ff;
  width: 156px;
  height: 44px;
  border-radius: 12px;
  padding-top: 12px;
  padding-right: 51px;
  padding-bottom: 12px;
  padding-left: 51px;
  color: #ffffff;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  margin: 0 auto;
}
.btn:hover {
  background-color: #0b44cd;
}
:global(.react-datepicker) {
  border-radius: 12px;
  border: 1px solid #3470ff;
  min-width: 276px;
  background-color: #ffffff;
}
:global(.react-datepicker-popper) {
  will-change: auto !important;
  border: none;
}
:global(.react-datepicker__month-container) {
  background-color: #ffffff;
  border: none;

  border-radius: 12px;
}
:global(.react-datepicker__header) {
  font-family: Inter;
  background-color: #ffffff;
  border-top-left-radius: 12px !important;
  border-top-right-radius: 12px !important;
  background-color: #ffffff;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid #3470ff;
  padding: 12px;
  height: 74px;
}

:global(.react-datepicker__current-month) {
  font-family: Inter;
  font-weight: 600;
  font-size: 16px;
  line-height: 19.2px;
  text-align: center;
  color: #101828;
  margin-bottom: 12px !important;
}
:global(.react-datepicker__day-names) {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: stretch;
  font-family: Inter;
  font-weight: 600;
  font-size: 12px;
  line-height: 14.4px;
  text-align: center;
  color: #8d929a;
}

:global(.react-datepicker__day-name) {
  font-family: Inter;
  font-weight: 600;
  font-size: 12px;
  line-height: 14.4px;
  text-align: center;
  color: #8d929a;
}
:global(.react-datepicker__day) {
  font-family: Inter;
  font-weight: 400;
  font-size: 14px;
  line-height: 32px;
  text-align: center;
  color: #101828;
  width: 36px;
  height: 32px;
  border-radius: 50%;
}
:global(.react-datepicker__day:hover) {
  background-color: #dadde1 !important;
  border-radius: 32px !important;
  color: #f7f7f7;
}

:global(.react-datepicker__day--selected) {
  border-radius: 50%;
  background-color: #3470ff;
  color: #f7f7f7;
}

:global(.react-datepicker__day--keyboard-selected) {
  border-radius: 50%;
  background-color: #3470ff;
  color: #f7f7f7;
}
:global(.react-datepicker__day--disabled) {
  border-radius: 50%;
  background-color: transparent;
  color: #8d929a;
}

:global(.react-datepicker__day--outside-month) {
  border-radius: 50%;
  background-color: transparent;
  color: #8d929a;
}
:global(.react-datepicker__triangle) {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  display: none;
}

:global(.react-datepicker__navigation--next) {
  right: 12px;
  top: 12px;
  width: 24px;
  height: 24px;
  color: #3470ff;
  border-color: #3470ff;
}
:global(.react-datepicker__navigation--previous) {
  left: 12px;
  top: 12px;
  width: 24px;
  height: 24px;
  border-color: #3470ff;
  color: #3470ff;
}
:global(.react-datepicker__navigation-icon::before) {
  border-color: #3470ff;
}

:global(.react-datepicker__navigation--previous:hover),
:global(.react-datepicker__navigation--next:hover) {
  border-color: #3470ff;
  color: #3470ff;
  border-radius: 50%;
}

:global(
    .react-datepicker__navigation--previous:hover
      .react-datepicker__navigation-icon::before
  ),
:global(
    .react-datepicker__navigation--next:hover
      .react-datepicker__navigation-icon::before
  ) {
  border-color: #3470ff;
}
